<div class=jumbotron>
  <div class=container>
  <div class=bckground>
<div align="center"; >
  <h1>Log In</h1>
<%= form_tag sessions_path do %>
  <%= label_tag :email %><br/>
  <%= text_field_tag :email, params[:email] %><br/>
  <%= label_tag :password %><br/>
  <%= password_field_tag :password %><br/>
  <%= submit_tag "Log In" %>
<% end %>
</div>
</div>
</div>
</div>